*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
}

body{
    background-color: #f2f4f6;
}

div.login-form{
    width: 450px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0px 5px 10px rgb(2, 2, 49);
}
div.login-form h2{
    text-align: center;
    background-color: rgb(14, 14, 73);
    padding: 12px 0px;
    color: white;

}
div.login-form form{
    padding: 30px 60px;

}
div.login-form form div.input-field{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
   

}

div.login-form form div.input-field i{
    color: rgb(14, 14, 73) ;
    padding: 10px 14px;
    background-color: #f2f4f6;
    margin-right: 4px;
}

div.login-form form div.input-field input{
    background-color: #f2f4f6;
    border: none;
    padding: 10px;
    width: 100%;
    padding: left 15px;
}

div.login-form form button{
    width: 100%;
    background-color:rgb(14, 14, 73) ;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 15px 0px;
    transition: background-color 0.4s;
}

div.login-form form button:hover{
    background-color: rgb(8, 8, 51);
    color: white;
}

div.login-form form div.extra{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.login-form form div.extra a{
    color: rgb(11, 95, 95);
}

#login_error{
    display: none;
    background-color: rgb(199, 24, 24);
    padding: 3px;
    margin-top: 15px;
    color: white;
    text-align: center;
    animation-name:login_error;
    animation-duration: 0.6s;
}


@keyframes login_error{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




